includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    level: 6
    paths:
        - app/
        - app-modules/
    excludePaths:
        analyse:
            - app-modules/*/tests/*
            - app-modules/*/database/*
    parseModelCastsMethod: true
